{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <div class='row submission-meta'> </div>

            <div class='row'>
                <div class='col-md-12'>
                    <form id="first_step_created_protocol" class='form' method='POST' action='{{ path("submission_new_first_created_protocol_step", {submission_id: submission.id}) }}'>
                        <fieldset>
                            <legend>{% trans %}Journal Data{% endtrans %}</legend>

                            <div class="form-group required">
                                <label for="input_title">{% trans %}Title{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 1} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title' id='input_title' value="{{ submission.title }}" required>
                            </div>

                            <div class="form-group">
                                <label for="input_short_title">{% trans %}Short Title{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='short_title' id='input_short_title' value="{{ submission.shortTitle }}">
                            </div>

                            <div class="form-group">
                                <label for="input_acronym_title">{% trans %}Title Acronym{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='acronym_title' id='input_acronym_title' value="{{ submission.acronymTitle }}">
                            </div>

                            <div class="form-group">
                                <label for="input_previous_title">{% trans %}Previous Title{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 4} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='previous_title' id='input_previous_title' value="{{ submission.previousTitle }}">
                            </div>

                            <div class="form-group">
                                <label for="input_additional_title">{% trans %}Additional Title{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 5} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='additional_title' id='input_additional_title' value="{{ submission.additionalTitle }}">
                            </div>

                            <div class="form-group">
                                <label for="input_issn">{% trans %}ISSN{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 6} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='issn' id='input_issn' value="{{ submission.issn }}">
                            </div>

                            <div class="form-group">
                                <label for="input_issn_online">{% trans %}ISSN Online{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 7} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='issn_online' id='input_issn_online' value="{{ submission.issnOnline }}">
                            </div>

                            <div class="form-group required">
                                <label for="select-frequency">{% trans %}Frequency{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 8} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-frequency' name='frequency' data-size="5" required>
                                    <option value="">-</option>
                                    {% for code, name in frequency %}
                                        <option value="{{ code }}" {% if submission.frequency == code %}selected{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group required">
                                <label for="input_standards">{% trans %}Standards{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 9} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='standards' id='input_standards' value="{{ submission.standards }}" required>
                            </div>

                            <div class="form-group">
                                <label for="input_bibliographic_subtitle">{% trans %}Bibliographic Subtitle{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 10} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='bibliographic_subtitle' id='input_bibliographic_subtitle' value="{{ submission.bibliographicSubtitle }}">
                            </div>

                            <div class="form-group required">
                                <label for="input_creation_year">{% trans %}Creation Year{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 11} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='creation_year' id='input_creation_year' maxlength="4" value="{{ submission.creationYear }}" required>
                            </div>

                            <div class="form-group">
                                <label for="input_lifetime">{% trans %}Lifetime{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='lifetime' id='input_lifetime' value="{{ submission.lifetime }}">
                            </div>

                             <div class="form-group required">
                                <label for="select-support">{% trans %}Support{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 13} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-support' name='support' data-size="5" required>
                                    <option value="">-</option>
                                    {% for code, name in support %}
                                        <option value="{{ code }}" {% if submission.support == code %}selected{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                             <div class="form-group required">
                                <label for="select-fulltext">{% trans %}Full Text{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 14} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-fulltext' name='fulltext' data-size="5" required>
                                    <option value="">-</option>
                                    {% for code, name in fulltext %}
                                        <option value="{{ code }}" {% if submission.fulltext == code %}selected{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="input_website">{% trans %}Website{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 15} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='website' id='input_website' value="{{ submission.website }}">
                            </div>

                            <div class="form-group">
                                <label for="input_website_info">{% trans %}Website Information{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='website_info' id='input_website_info' value="{{ submission.websiteInfo }}">
                            </div>

                            <div class="form-group">
                                <label for="textarea-social-networks-info">{% trans %}Social Networks Information{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 17} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='social_networks_info' id='textarea-social-networks-info'>{{ submission.socialNetworksInfo }}</textarea>
                            </div>

                            <div class="form-group required">
                                <label for="textarea-mission">{% trans %}Mission{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 18} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='mission' id='textarea-mission' required>{{ submission.mission }}</textarea>
                            </div>
{#
                            <div class="form-group required">
                                <label for="select-publication-type">{% trans %}Publication Type{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 19} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div class="multiple">
                                    <div>
                                        <select multiple class="form-control leftValues " id="select-publication-type" name="publication_type[]" size="5" required>
                                            {% for p_type in submission.publicationType %}
                                                <option value="{{ p_type.id }}" selected>{{ p_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <input type="button" class="btnLeft" value="&lt;&lt;" />
                                        <input type="button" class="btnRight" value="&gt;&gt;" />
                                    </div>
                                    <div>
                                        <select multiple class="form-control rightValues" size="5">
                                            {% for p_type in publication_type %}
                                                <option value="{{ p_type.id }}">{{ p_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="select-language">{% trans %}Language{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 20} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div class="multiple">
                                    <div>
                                        <select multiple class="form-control leftValues" id="select-language" name="language[]" size="5" required>
                                            {% for lang in submission.language %}
                                                <option value="{{ lang.id }}" selected>{{ lang.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <input type="button" class="btnLeft" value="&lt;&lt;" />
                                        <input type="button" class="btnRight" value="&gt;&gt;" />
                                    </div>
                                    <div>
                                        <select class="form-control rightValues" size="5" multiple>
                                            {% for lang in language %}
                                                <option value="{{ lang.id }}">{{ lang.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
#}
                            <div class="form-group required">
                                <label for="select-publication-type">{% trans %}Publication Type{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 19} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class="form-control selectpicker" id="select-publication-type" name="publication_type[]" data-size="5" data-width="fit" title="{% trans %}Choose one of the following...{% endtrans %}" multiple>
                                        {% for p_type in publication_type %}
                                            <option value="{{ p_type.id }}" {% if p_type in submission.publicationType %}selected{% endif %}>{{ p_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="select-language">{% trans %}Language{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 20} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class="form-control selectpicker" id="select-language" name="language[]" data-size="5" data-width="fit" title="{% trans %}Choose one of the following...{% endtrans %}" multiple>
                                        {% for lang in language %}
                                            <option value="{{ lang.id }}" {% if lang in submission.language %}selected{% endif %}>{{ lang.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="select-thematic-area">{% trans %}Thematic Area{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-thematic-area' name='thematic_area' data-size="5" required>
                                    <option value="">-</option>
                                    {% for t_area in thematic_area %}
                                        <option value="{{ t_area.id }}" {% if submission.thematicArea.id == t_area.id %}selected{% endif %}>{{ t_area.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group required">
                                <label for="select-specialty">{% trans %}Specialty{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 22} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-specialty' name='specialty' data-size="5" required>
                                    <option value="">-</option>
                                    {% for special in specialty %}
                                        <option value="{{ special.id }}" {% if submission.specialty.id == special.id %}selected{% endif %}>{{ special.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="input_qualis">{% trans %}Qualis Grade{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 23} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='qualis' id='input_qualis' value="{{ submission.qualis }}">
                            </div>

                            <div class="form-group required">
                                <label for="">{% trans %}Funded by CNPq{% endtrans %}?</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 24} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div class="radio">
                                    <label><input type="radio" name="funded_by_cnpq" id="radio_cnpq_yes" value="yes" {% if submission.fundedByCnpq %}checked{% endif %} required> {% trans %}yes{% endtrans %}</label>
                                    <label><input type="radio" name="funded_by_cnpq" id="radio_cnpq_no" value="no" {% if not submission.fundedByCnpq %}checked{% endif %} required> {% trans %}no{% endtrans %}</label>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="input_funders">{% trans %}Funders{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='funders' id='input_funders' value="{{ submission.funders }}" required>
                            </div>

                            <div class="form-group">
                                <label for="input_indexed_in">{% trans %}Other Indexes{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 26} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='indexed_in' id='input_indexed_in' value="{{ submission.indexedIn }}">
                            </div>

                            <div class="form-group">
                                <label for="input_databases">{% trans %}Databases{% endtrans %}:</label>
                                <a href="{{ path("crud_admin_help_show", {help_id: 27} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='databases' id='input_databases' value="{{ submission.db }}">
                            </div>
                        </fieldset>

                        <div class='submission-button-controls'>
                            <button type='submit' class='btn btn-primary'>{% trans %}Save as draft{% endtrans %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
