{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' action='{{ path("submission_new_fourth_step", {submission_id: submission.id}) }}'>

                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <legend>{% trans %}Evaluation Process Information{% endtrans %}</legend>
                                <div class="form-group required">
                                    <label for="input-requestor-name">{% trans %}Requestor Name{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 46} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-requestor-name' name='requestor_name' value='{{ submission.requestorName }}' required>
                                </div>

                                <div class="form-group required">
                                    <label for="input-requestor-email">{% trans %}Requestor Contact Emails{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 47} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="email" class="form-control" placeholder="" id='input-requestor-email' name='requestor_email' value='{{ submission.requestorEmail }}' required>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>{% trans %}Issues{% endtrans %}<a href="{{ path("crud_admin_help_show", {help_id: 48} ) }}" class="help" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a></legend>
                                <table class='table table-hover table-condensed' id='table-issue'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}Volume{% endtrans %}</th>
                                            <th>{% trans %}Number{% endtrans %}</th>
                                            <th>{% trans %}Year{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for issue in submission.issue %}
                                            <tr>
                                                <td>{{ issue.volume }}</td>
                                                <td>{{ issue.number }}</td>
                                                <td>{{ issue.year }}</td>
                                                <td>
                                                    {% if issue.fulltext %}
                                                        <a href='{{ issue.fulltext }}' target="_blank" class='btn btn-default btn-xs' target="_blank" title="Link to full text">
                                                            <i class='glyphicon glyphicon-eye-open'></i>
                                                        </a>
                                                    {% endif%}
                                                    <a href='#' class='btn btn-default btn-xs button-delete-issue' data-id='{{ issue.id }}' data-toggle="modal" data-target="#modal-delete-issue" title="Remove issue"><i class='glyphicon glyphicon-trash'></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>

                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-issue" {% if submission.issue|length == 3 %}disabled{% endif %}>{% trans %}New Issue{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save as draft{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Fascículo -->
    <div class="modal fade" id="modal-new-issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-issue' action="{{ path("submission_new_fourth_step", {submission_id: submission.id}) }}">
                
                <input type='hidden' name='issue' value='{{ submission.id }}'>
                <input type="hidden" id='hidden-requestor-name' name='requestor_name' value='{{ submission.requestorName }}'>
                <input type="hidden" id='hidden-requestor-email' name='requestor_email' value='{{ submission.requestorEmail }}'>
                
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Issue{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group required">
                            <label for="input-issue-volume">{% trans %}Volume{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 93} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type="text" class="form-control" placeholder="" id='input-issue-volume' name='issue_volume' required>
                        </div>

                        <div class="form-group">
                            <label for="input-issue-number">{% trans %}Number{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 94} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type="text" class="form-control" placeholder="" id='input-issue-number' name='issue_number'>
                        </div>

                        <div class="form-group required">
                            <label for="input-issue-year">{% trans %}Year{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 95} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type="text" class="form-control" placeholder="" id='input-issue-year' name='issue_year' maxlength="4" required>
                        </div>

                        <div class="form-group required">
                            <label for="input-issue-fulltext">{% trans %}Full Text{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 96} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type="text" class="form-control" placeholder="" id='input-issue-fulltext' name='issue_fulltext' required>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-issue' action="{{ path("submission_new_fourth_step", {submission_id: submission.id}) }}">
                <input type="hidden" name="delete-issue-id" id='hidden-delete-issue' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Issue{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this issue?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#table-issue").on("click", ".button-delete-issue", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-issue").val(id);
            });

            $("#form-new-issue").on("submit", function(e){
                var requestor_name  = $("#input-requestor-name").val();
                var requestor_email = $("#input-requestor-email").val();
                $("#hidden-requestor-name").val(requestor_name);
                $("#hidden-requestor-email").val(requestor_email);
            });

            $('#modal-delete-issue').on('hidden.bs.modal', function () {
                $("#hidden-delete-issue").val("");
            })
        });
    </script>
{% endblock %}
