{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-second' action='{{ path("submission_new_second_step", {submission_id: submission.id}) }}'>

                <input type='hidden' name='submission_id' value='{{ submission.id }}'>
                <input type='hidden' id='id_stay_on_the_same_page' name='stay_on_the_same_page' value='false'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <legend>{% trans %}Institution Information{% endtrans %}</legend>
                                <div class="form-group required">
                                    <label for="input-editor-name">{% trans %}Editor Name{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-editor-name' name='editor_name' value='{{ submission.editorName }}' required>
                                </div>

                                <div class="form-group required">
                                    <label for="input-editor-email">{% trans %}Editor Email{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="email" class="form-control" placeholder="" id='input-editor-email' name='editor_email' value='{{ submission.editorEmail }}' required>
                                </div>

                                <div class="form-group">
                                    <label for="input-editor-alt-email">{% trans %}Editor Alternate Email{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="email" class="form-control" placeholder="" id='input-editor-alt-email' name='editor_alternate_email' value='{{ submission.editorAlternateEmail }}'>
                                </div>

                                <div class="form-group required">
                                    <label for="input-phone">{% trans %}Phone{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-phone' name='phone' value='{{ submission.phone }}' required>
                                </div>

                                <div class="form-group required">
                                    <label for="input-address">{% trans %}Address{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-address' name='address' value='{{ submission.address }}' required>
                                </div>

                                <div class="form-group required">
                                    <label for="input-cep">{% trans %}CEP{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-cep' name='cep' value='{{ submission.cep }}' required>
                                </div>

                                <div class="form-group required">
                                    <label for="input-institution">{% trans %}Institution{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-institution' name='institution' value='{{ submission.institution }}' required>
                                </div>

                                <div class="form-group required">
                                    <label for="select-state">{% trans %}State{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 19} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id='select-state' name='state' data-size="5" required></select>
                                </div>

                                <div class="form-group required">
                                    <label for="select-city">{% trans %}City{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 19} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id='select-city' name='city' title="-" data-size="5" required>
                                        <option value="">-</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="input-postgraduate-grade">{% trans %}Postgraduate Grade{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 2} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-postgraduate-grade' name='postgraduate_grade' value='{{ submission.postgraduateGrade }}'>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $.getJSON('{{ asset('bundles/proethos2core/js/estados_cidades.json') }}', function (data) {
        
            var items = [];
            var options = '<option value="">-</option>';

            $.each(data, function (key, val) {
                options += '<option value="' + val.nome + '">' + val.nome + '</option>';
            });

            $("#select-state").html(options);
            $('#select-state').selectpicker('val', '{{ submission.editorState }}');
            
            $("#select-state").change(function () {
            
                var options_cidades = '<option value="">-</option>';
                var str = "";
                
                $("#select-state option:selected").each(function () {
                    str += $(this).text();
                });
                
                $.each(data, function (key, val) {
                    if(val.nome == str) {
                        $.each(val.cidades, function (key_city, val_city) {
                            options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
                        });
                    }
                });

                $("#select-city").html(options_cidades);
                $("#select-city").selectpicker('refresh');
                $('#select-city').selectpicker('val', '{{ submission.editorCity }}');

            }).change();
        
        });
    });
</script>
{% endblock %}
