<html>
    <head>
        <meta charset="UTF-8">
        <style>
            h1 {
                text-align: center;
            }
            h2, h3 {
                border-top: 2px solid #000;
                margin: 30px 0 10px 0;
            }
            table {
                width: 100%;
                border-spacing : 0;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
            }
            table td, table th {
                border: 1px solid #000;
                border-bottom: none;
                border-right: none;
                margin: 0;
                padding: 3px;
            }
            footer {
                margin: 40px 0 0 0;
                text-align: right;
                font-size: 9pt;
            }
        </style>
    </head>
    <body>
        <h1>{{ submission.title }}</h1>

        <h3>{% trans %}Short Title{% endtrans %}</h3>
        <p>{{ submission.shortTitle }}</p>

        <h3>{% trans %}Title Acronym{% endtrans %}</h3>
        <p>{{ submission.acronymTitle }}</p>

        <h3>{% trans %}Previous Title{% endtrans %}</h3>
        <p>{{ submission.previousTitle }}</p>

        <h3>{% trans %}Additional Title{% endtrans %}</h3>
        <p>{{ submission.additionalTitle }}</p>

        <h3>{% trans %}ISSN{% endtrans %}</h3>
        <p>{{ submission.issn }}</p>

        <h3>{% trans %}ISSN Online{% endtrans %}</h3>
        <p>{{ submission.issnOnline }}</p>

        <h3>{% trans %}Frequency{% endtrans %}</h3>
        <p>{{ frequency[submission.frequency] }}</p>

        <h3>{% trans %}Standards{% endtrans %}</h3>
        <p>{{ submission.standards }}</p>

        <h3>{% trans %}Bibliographic Subtitle{% endtrans %}</h3>
        <p>{{ submission.bibliographicSubtitle }}</p>

        <h3>{% trans %}Creation Year{% endtrans %}</h3>
        <p>{{ submission.creationYear }}</p>

        <h3>{% trans %}Lifetime{% endtrans %}</h3>
        <p>{{ submission.lifetime }}</p>

        <h3>{% trans %}Support{% endtrans %}</h3>
        <p>{{ support[submission.support] }}</p>

        <h3>{% trans %}Full Text{% endtrans %}</h3>
        <p>{{ fulltext[submission.fullText] }}</p>

        <h3>{% trans %}Website{% endtrans %}</h3>
        <p>{{ submission.website }}</p>

        <h3>{% trans %}Website Information{% endtrans %}</h3>
        <p>{{ submission.websiteInfo }}</p>

        <h3>{% trans %}Social Networks Information{% endtrans %}</h3>
        <p>{{ submission.socialNetworksInfo|nl2br }}</p>

        <h3>{% trans %}Mission{% endtrans %}</h3>
        <p>{{ submission.mission|nl2br }}</p>

        <h3>{% trans %}Publication Type{% endtrans %}</h3>
        <p>{{ submission.publicationType|join(', ') }}</p>

        <h3>{% trans %}Language{% endtrans %}</h3>
        <p>{{ submission.language|join(', ') }}</p>

        <h3>{% trans %}Thematic Area{% endtrans %}</h3>
        <p>{{ submission.thematicArea.name }}</p>

        <h3>{% trans %}Specialty{% endtrans %}</h3>
        <p>{{ submission.specialty.name }}</p>

        <h3>{% trans %}Qualis Grade{% endtrans %}</h3>
        <p>{{ submission.qualis }}</p>

        <h3>{% trans %}Funded by CNPq{% endtrans %}</h3>
        <p>
            {% if submission.fundedByCnpq %}
                {% trans %}yes{% endtrans %}
            {% else %}
                {% trans %}no{% endtrans %}
            {% endif %}
        </p>

        <h3>{% trans %}Funders{% endtrans %}</h3>
        <p>{{ submission.funders }}</p>

        <h3>{% trans %}Other Indexes{% endtrans %}</h3>
        <p>{{ submission.indexedIn }}</p>

        <h3>{% trans %}Databases{% endtrans %}</h3>
        <p>{{ submission.db }}</p>

        <h3>{% trans %}Editor Name{% endtrans %}</h3>
        <p>{{ submission.editorName }}</p>

        <h3>{% trans %}Editor Email{% endtrans %}</h3>
        <p>{{ submission.editorEmail }}</p>

        <h3>{% trans %}Editor Alternate Email{% endtrans %}</h3>
        <p>{{ submission.editorAlternateEmail }}</p>

        <h3>{% trans %}Phone{% endtrans %}</h3>
        <p>{{ submission.phone }}</p>

        <h3>{% trans %}Address{% endtrans %}</h3>
        <p>{{ submission.address }}</p>

        <h3>{% trans %}CEP{% endtrans %}</h3>
        <p>{{ submission.cep }}</p>

        <h3>{% trans %}Institution{% endtrans %}</h3>
        <p>{{ submission.institution }}</p>

        <h3>{% trans %}Editor State{% endtrans %}</h3>
        <p>{{ submission.editorState }}</p>

        <h3>{% trans %}Editor City{% endtrans %}</h3>
        <p>{{ submission.editorCity }}</p>

        <h3>{% trans %}Postgraduate Grade{% endtrans %}</h3>
        <p>{{ submission.postgraduateGrade }}</p>

        <h3>{% trans %}Publisher Name{% endtrans %}</h3>
        <p>{{ submission.publisherName }}</p>

        <h3>{% trans %}Publisher Contact Name{% endtrans %}</h3>
        <p>{{ submission.publisherContactName }}</p>

        <h3>{% trans %}Publisher Email{% endtrans %}</h3>
        <p>{{ submission.publisherEmail }}</p>

        <h3>{% trans %}Publisher State{% endtrans %}</h3>
        <p>{{ submission.publisherState }}</p>

        <h3>{% trans %}Publisher City{% endtrans %}</h3>
        <p>{{ submission.publisherCity }}</p>

        <h3>{% trans %}Country{% endtrans %}</h3>
        <p>{{ submission.country.name }}</p>

        <h3>{% trans %}Requestor Name{% endtrans %}</h3>
        <p>{{ submission.requestorName }}</p>

        <h3>{% trans %}Requestor Contact Emails{% endtrans %}</h3>
        <p>{{ submission.requestorEmail }}</p>

        <h3>{% trans %}Issues{% endtrans %}</h3>
        <table>
            <tr>
                <th>{% trans %}Volume{% endtrans %}</th>
                <th>{% trans %}Number{% endtrans %}</th>
                <th>{% trans %}Year{% endtrans %}</th>
                <th>{% trans %}Full Text{% endtrans %}</th>
            </tr>

            {% for issue in submission.issue %}
                <tr>
                    <td>{{ issue.volume }}</td>
                    <td>{{ issue.number }}</td>
                    <td>{{ issue.year }}</td>
                    <td>{{ issue.fulltext }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans %}Upload Files{% endtrans %}</h3>
        <table>
            <tr>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}File Name{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
            </tr>

            {% for item in submission.attachments %}
                <tr>
                    <td>{{ item.uploadType }}</td>
                    <td>{{ item.filename }}</td>
                    <td>{{ item.created|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>

        <footer>{% trans %}Created in{% endtrans %} {{ "now"|date("d/m/Y H:i:s") }}</footer>
    </body>
</html>
