{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-submission' action='{{ path("submission_new_third_step", {submission_id: submission.id}) }}'>

                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <legend>{% trans %}Publisher Information{% endtrans %}</legend>
                                <div class="form-group">
                                    <label for="input-publisher-name">{% trans %}Publisher Name{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 38} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-publisher-name' name='publisher_name' value='{{ submission.publisherName }}'>
                                </div>

                                <div class="form-group">
                                    <label for="input-publisher-contact-name">{% trans %}Publisher Contact Name{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 39} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-publisher-contact-name' name='publisher_contact_name' value='{{ submission.publisherContactName }}'>
                                </div>

                                <div class="form-group">
                                    <label for="input-publisher-email">{% trans %}Publisher Email{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 40} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="email" class="form-control" placeholder="" id='input-publisher-email' name='publisher_email' value='{{ submission.publisherEmail }}'>
                                </div>

                                <div class="form-group">
                                    <label for="input-cep">{% trans %}CEP{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 32} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-cep' name='cep' value='{{ submission.cep }}'>
                                </div>
{#
                                <div class="form-group">
                                    <label for="select-state">{% trans %}State{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 41} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id='select-state' name='state' data-size="5"></select>
                                </div>

                                <div class="form-group">
                                    <label for="select-city">{% trans %}City{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 42} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control' id='select-city' name='city' title="-" data-size="5">
                                        <option value="">-</option>
                                    </select>
                                </div>
#}
                                <div class="form-group">
                                    <label for="input-state">{% trans %}State{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 43} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-state' name='state' value='{{ submission.publisherState }}'>
                                </div>

                                <div class="form-group">
                                    <label for="input-city">{% trans %}City{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 44} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type="text" class="form-control" placeholder="" id='input-city' name='city' value='{{ submission.publisherCity }}'>
                                </div>

                                <div class="form-group">
                                    <label for="select-country">{% trans %}Country{% endtrans %}:</label>
                                    <a href="{{ path("crud_admin_help_show", {help_id: 45} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <select class='form-control selectpicker' id='select-country' name='country' data-size="5">
                                        <option value="">-</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}" {% if submission.country.id == country.id %}selected{% endif %}>{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
/*
    $(function() {
        $.getJSON('{{ asset('bundles/proethos2core/js/estados_cidades.json') }}', function (data) {
        
            var items = [];
            var options = '<option value="">-</option>';

            $.each(data, function (key, val) {
                options += '<option value="' + val.nome + '">' + val.nome + '</option>';
            });

            $("#select-state").html(options);
            $('#select-state').selectpicker('val', '{{ submission.publisherState }}');

            $("#select-state").change(function () {
            
                var options_cidades = '<option value="">-</option>';
                var str = "";
                
                $("#select-state option:selected").each(function () {
                    str += $(this).text();
                });
                
                $.each(data, function (key, val) {
                    if(val.nome == str) {
                        $.each(val.cidades, function (key_city, val_city) {
                            options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
                        });
                    }
                });

                $("#select-city").html(options_cidades);
                $("#select-city").selectpicker('refresh');
                $('#select-city').selectpicker('val', '{{ submission.publisherCity }}');

            }).change();

        });
    });
*/

    $(function() {

        function clean_form() {
            // $("#input-address").val("");
            $("#input-state").val("");
            $("#input-city").val("");
        }
        
        $("#input-cep").blur(function() {

            var cep = $(this).val().replace(/\D/g, '');

            if (cep != "") {

                var valid_cep = /^[0-9]{8}$/;

                if(valid_cep.test(cep)) {

                    // $("#input-address").val("...");
                    $("#input-state").val("...");
                    $("#input-city").val("...");

                    $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(data) {
                        if (!("erro" in data)) {
                            // Atualiza os campos com os valores da consulta.
                            // $("#input-address").val(data.logradouro+", "+data.bairro);
                            $("#input-state").val(data.uf);
                            $("#input-city").val(data.localidade);
                        } else {
                            clean_form();
                            alert("{% trans %}CEP not found{% endtrans %}");
                        }
                    });
                } else {
                    clean_form();
                    alert("{% trans %}Invalid CEP format{% endtrans %}");
                }
            } else {
                clean_form();
            }
            
        });

    });
</script>
{% endblock %}
