{% extends "::base.html.twig" %}

{% block title %}{% trans %}Analyze Journal{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Analyze Journal{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action'>
            <input type="hidden" id="input-is-reject" name="is-reject" value="true">
            <input type="hidden" id="input-send-to" name="send-to" value="">

            <div class='block'>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Upload files{% endtrans %}: <small>({% trans %}Format, Retrospective, Endogeny and Citation{% endtrans %})</small><a href="{{ path("crud_admin_help_show", {help_id: 100} ) }}" class="help" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a></h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <fieldset>
                            <table class='table table-hover table-condensed' id='table-files'>
                                <thead>
                                    <tr>
                                        <th>{% trans %}Type{% endtrans %}</th>
                                        <th>{% trans %}File name{% endtrans %}</th>
                                        <th>{% trans %}Date & Time{% endtrans %}</th>
                                        <th>{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for file in protocol.mainSubmission.attachments if file.uploadType.slug in ['format', 'retrospective', 'endogeny', 'citation', 'others'] %}
                                        <tr>
                                            <td>{{ file.uploadType }}</td>
                                            <td>{{ file.filename }}</td>
                                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                            <td>
                                                <a href='{{ asset(file.uri) }}' target="_blank" class='btn btn-default btn-xs' target="_blank">
                                                    <i class='glyphicon glyphicon-eye-open'></i>
                                                </a>
                                                <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href='#' class='btn btn-default' id="attachment-button" data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a>
                        </fieldset>
                    </div>
                </div>
            </div>
            
            <div class='block action'>
                <a name='action'></a>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Actions{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class='radio'>
                                <label for="input-reject-submission">
                                    <input type='radio' id='input-reject-submission' name='action' value='accept' /> {% trans %}Reject Submission{% endtrans %}
                                </label> 
                            </div>
                        </div>
                        
                        <div class="form-group" id='group-reject-submission'>
                            <label for="">{% trans %}Return reason{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 99} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class="form-control" id="textarea-reject-reason" name='reject-reason'></textarea>
                        </div>
                        
                        <div class="form-group">
                            <div class='radio'>
                                <label for="input-accept-submission">
                                    <input type='radio' id='input-accept-submission' name='action' value='accept' /> {% trans %}Accept Submission{% endtrans %}
                                </label> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button type="submit" class='btn btn-danger' id='button-reject-submission'>{% trans %}Reject submission{% endtrans %}</button>
                    <button class='btn btn-primary' id='button-send-to-committee'>{% trans %}Send to review{% endtrans %}</button>
                    {% if protocol.monitoringAction %}
                        <span data-toggle='tooltip' data-placement='top' title="{% trans %}This monitoring action will not be reviewed by the committee{% endtrans %}">
                            <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modal-confirm' id='button-accept-as-notification'>{% trans %}Accept as Notification{% endtrans %}</button>
                        </span>
                    {% endif %}
                </div>
            </div>
        </form>
        
    </div>

    <!-- Modal confirm -->
    <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Confirm?{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Are you sure that you want to end this journal evaluation?{% endtrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="button" class="btn btn-success" id='notification-submit'>{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Novo Anexo -->
    <div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-attachment' enctype="multipart/form-data">
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 10*1024*1024 }}" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group required">
                            <label for="select-new-attachment-type">{% trans %}Type{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 97} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker' data-live-search="true" name='new-attachment-type' id='select-new-attachment-type' required>
                                <option>-</option>
                                {% for type in upload_types %}
                                    {% if type.slug in ['format', 'retrospective', 'endogeny', 'citation', 'others'] %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="input-new-attachment-file">{% trans %}File{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 98} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-attachment-file' id='input-new-attachment-file' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment'>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){

            var rowCount = $('#table-files tr').length;

            if (rowCount >= 6) {
                $("#attachment-button").attr("disabled", true);

                $("#attachment-button").on("click", function(e){
                    e.preventDefault();
                    e.stopPropagation();
                });
            }

            $("#table-files").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });

            $('#modal-delete-attachment').on('hidden.bs.modal', function(){
                $("#hidden-delete-attachment").val("");
            });
            
            $("[id^=button-]").hide();
            $("[id^=group-]").hide();

            $("#form-action input[name='action']").on('ifChanged', function(){
                var id = $(this).attr('id');
                if(id.search("reject") >= 0) {
                    reject();
                } else {
                    accept();
                }
            });

            $("body").on("click", "#button-send-to-committee", function(e){
                $("#input-send-to").val('committee');
                $("#input-is-reject").val('false');
                $("#form-action").submit();
            });

            {% if protocol.monitoringAction %}
                $("body").on("click", "#notification-submit", function(e){
                    $("#input-send-to").val('notification-only');
                    $("#input-is-reject").val('false');
                    $("#form-action").submit();
                });
            {% endif %}
        });

        function reject() {
            $("#group-reject-submission").show();
            $("#button-reject-submission").show();

            $("#textarea-reject-reason").prop('required', true);

            $("#button-send-to-committee").hide();
            $("#button-accept-as-notification").hide();
        }

        function accept() {
            $("#group-reject-submission").hide();
            $("#button-reject-submission").hide();
            
            $("#textarea-reject-reason").prop('required', false);

            $("#button-send-to-committee").show();

            {% if protocol.monitoringAction %}
                $("#button-accept-as-notification").show();
            {% endif %}
        }
    </script>
{% endblock %}
