{% extends "::base.html.twig" %}

{% block title %}{% trans %}Protocol options{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Initial committee review{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action'>
            <input type="hidden" id="input-send-to" name="send-to" value="">

            <div class='block'>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Upload files{% endtrans %}: <small>({% trans %}Format, Retrospective, Endogeny and Citation{% endtrans %})</small><a href="{{ path("crud_admin_help_show", {help_id: 100} ) }}" class="help" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a></h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <fieldset>
                            <table class='table table-hover table-condensed' id='table-files'>
                                <thead>
                                    <tr>
                                        <th>{% trans %}Type{% endtrans %}</th>
                                        <th>{% trans %}File name{% endtrans %}</th>
                                        <th>{% trans %}Date & Time{% endtrans %}</th>
                                        <th>{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for file in protocol.mainSubmission.attachments if file.uploadType.slug in ['format', 'retrospective', 'endogeny', 'citation', 'others'] %}
                                        <tr>
                                            <td>{{ file.uploadType }}</td>
                                            <td>{{ file.filename }}</td>
                                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                            <td>
                                                <a href='{{ asset(file.uri) }}' target="_blank" class='btn btn-default btn-xs' target="_blank">
                                                    <i class='glyphicon glyphicon-eye-open'></i>
                                                </a>
                                                <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href='#' class='btn btn-default' id="attachment-button" data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class='block action'>
                <a name='action'></a>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Choose reviewers{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group" id='niec-manual'>
                            <label for="input-opinion-required">{% trans %}Opinions Required{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 101} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='number' class="form-control" id='input-opinion-required' name="opinion-required" min="0" value="{{ protocol.opinionRequired }}" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}Ad-hoc Reviewers{% endtrans %}:</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table id="member-adhoc-list" class='table table-hover table-condensed'>
                        <thead>
                            <tr>
                                <th></th>
                                <th width="30%">{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Lattes{% endtrans %}</th>
                                <th>{% trans %}E-mail{% endtrans %}</th>
                                <th>{% trans %}Country{% endtrans %}</th>
                                <th>{% trans %}Recruitment Date{% endtrans %}</th>
                                <th>{% trans %}Review submission date{% endtrans %}</th>
                                <th>{% trans %}Alert delivery date{% endtrans %}</th>
                                <th>{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for revision in protocol.adhocRevision %}
                                <tr>
                                    <td><input type="checkbox" name='revision-{{ revision.member.id }}' value="{{ revision.id }}" {% if revision.rejected or revision.isFinalRevision %}disabled{% endif %} /></td>
                                    <td>{{ revision.member.name }}</td>
                                    <td><a href='{{ revision.member.lattes }}' target="_blank">CV</a></td>
                                    <td><a href='{{ revision.member.email }}'>{{ revision.member.email }}</a></td>
                                    <td>{{ revision.member.country }}</td>
                                    <td>{{ revision.created|date("d/m/Y") }}</td>
                                    <td>{% if revision.revisedIn %}{{ revision.revisedIn|date("d/m/Y") }}{% endif %}</td>
                                    <td>{% if revision.sendAlertDate %}{{ revision.sendAlertDate|date("d/m/Y") }}{% endif %}</td>
                                    <td>
                                        {% if revision.rejected %}
                                            <span class='label label-danger'>{% trans %}Declined{% endtrans %}</span>
                                        {% elseif revision.answered and not revision.isFinalRevision %}
                                            <span class='label label-primary'>{% trans %}Answered{% endtrans %}</span>
                                        {% elseif revision.isFinalRevision %}
                                            <span class='label label-success'>{% trans %}Final Revision{% endtrans %}</span>
                                        {% elseif not revision.answered and revision.accepted %}
                                            <span class='label label-info'>{% trans %}Accepted{% endtrans %}</span>
                                        {% else %}
                                            <span class='label label-default'>{% trans %}Assigned{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not revision.rejected %}
                                            <a href='{{ path("protocol_initial_committee_review_show_review", {protocol_id: protocol.id, protocol_revision_id: revision.id }) }}?member=adhoc' data-toggle='modal' data-target='#modal-parecer-reviewer' class='btn btn-default btn-xs {% if not revision.answered %}disabled{% endif %}'><i class='glyphicon glyphicon-eye-open'></i></a>
                                            {% if not revision.answered %}<a href='{{ path("protocol_initial_committee_review_send_alert", { protocol_id: protocol.id, protocol_revision_id: revision.id }) }}?member=adhoc' class='btn btn-default btn-xs send-alert'><i class='glyphicon glyphicon-send'></i></a>{% endif %}
                                            {% if not revision.isFinalRevision %}<a href='#' class='btn btn-default btn-xs' data-toggle="modal" data-target="#modal-remove-revisor" id='remove-adhoc-revisor-{{ revision.id }}'><i class='glyphicon glyphicon-trash'></i></a>{% endif %}
                                        {% else %}
                                            <a href='#' data-toggle='modal' data-target='#modal-reject-reason' class='btn btn-default btn-xs reject-reason' data-reason="{% if 'E' == revision.rejectReason and revision.otherRejectReason %}{{ revision.otherRejectReason }}{% else %}{{ reject_reason[revision.rejectReason] }}{% endif %}"><i class='glyphicon glyphicon-eye-open'></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-select-members-ad-hoc">{% trans %}Select Members Ad-Hoc{% endtrans %}</a>

                    <a href='#' id="bulk-remove-adhoc-revisor" class='btn btn-default' data-toggle="modal" data-target="#modal-bulk-remove-revisor" data-member="adhoc">{% trans %}Bulk Remove Members Ad-Hoc{% endtrans %}</a>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}Committee Reviewers{% endtrans %}:</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <table id="member-committee-list" class='table table-hover table-condensed'>
                        <thead>
                            <tr>
                                <th></th>
                                <th width="30%">{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}E-mail{% endtrans %}</th>
                                <th>{% trans %}Country{% endtrans %}</th>
                                <th>{% trans %}Recruitment Date{% endtrans %}</th>
                                <th>{% trans %}Review submission date{% endtrans %}</th>
                                <th>{% trans %}Alert delivery date{% endtrans %}</th>
                                <th>{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for revision in protocol.committeeRevision %}
                                <tr>
                                    <td><input type="checkbox" name='revision-{{ revision.member.id }}' value="{{ revision.id }}" {% if revision.rejected or revision.isFinalRevision %}disabled{% endif %} /></td>
                                    <td>{{ revision.member.name }}</td>
                                    <td><a href='{{ revision.member.email }}'>{{ revision.member.email }}</a></td>
                                    <td>{{ revision.member.country }}</td>
                                    <td>{{ revision.created|date("d/m/Y") }}</td>
                                    <td>{% if revision.revisedIn %}{{ revision.revisedIn|date("d/m/Y") }}{% endif %}</td>
                                    <td>{% if revision.sendAlertDate %}{{ revision.sendAlertDate|date("d/m/Y") }}{% endif %}</td>
                                    <td>
                                        {% if revision.rejected %}
                                            <span class='label label-danger'>{% trans %}Declined{% endtrans %}</span>
                                        {% elseif revision.answered and not revision.isFinalRevision %}
                                            <span class='label label-primary'>{% trans %}Answered{% endtrans %}</span>
                                        {% elseif revision.isFinalRevision %}
                                            <span class='label label-success'>{% trans %}Final Revision{% endtrans %}</span>
                                        {% elseif not revision.answered and revision.accepted %}
                                            <span class='label label-info'>{% trans %}Accepted{% endtrans %}</span>
                                        {% else %}
                                            <span class='label label-default'>{% trans %}Assigned{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not revision.rejected %}
                                            <a href='{{ path("protocol_initial_committee_review_show_review", { protocol_id: protocol.id, protocol_revision_id: revision.id }) }}?member=committee' data-toggle='modal' data-target='#modal-parecer-reviewer' class='btn btn-default btn-xs {% if not revision.answered %}disabled{% endif %}'><i class='glyphicon glyphicon-eye-open'></i></a>
                                            {% if not revision.answered %}<a href='{{ path("protocol_initial_committee_review_send_alert", { protocol_id: protocol.id, protocol_revision_id: revision.id }) }}?member=committee' class='btn btn-default btn-xs send-alert'><i class='glyphicon glyphicon-send'></i></a>{% endif %}
                                            {% if not revision.isFinalRevision %}<a href='#' class='btn btn-default btn-xs' data-toggle="modal" data-target="#modal-remove-revisor" id='remove-committee-revisor-{{ revision.id }}' data-member="{{ revision.member.id }}"><i class='glyphicon glyphicon-trash'></i></a>{% endif %}
                                        {% else %}
                                            <a href='#' data-toggle='modal' data-target='#modal-reject-reason' class='btn btn-default btn-xs reject-reason' data-reason="{% if 'E' == revision.rejectReason and revision.otherRejectReason %}{{ revision.otherRejectReason }}{% else %}{{ reject_reason[revision.rejectReason] }}{% endif %}"><i class='glyphicon glyphicon-eye-open'></i></a>
                                        {% endif %}
                                    </td
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-select-members-of-commitee">{% trans %}Select Members Of Committee{% endtrans %}</a>

                    <a href='#' id="bulk-remove-committee-revisor" class='btn btn-default' data-toggle="modal" data-target="#modal-bulk-remove-revisor" data-member="committee">{% trans %}Bulk Remove Members Of Committee{% endtrans %}</a>
                </div>
            </div>

            {% if total_final_revisions >= protocol.opinionRequired %}
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Meeting{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group" id='reject-group'>
                            <label for="select-meeting">{% trans %}Select meeting{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 102} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker' id="select-meeting" name="meeting" data-live-search="true">
                                <option>-</option>
                                {% for meeting in meetings %}
                                    <option value="{{ meeting.id }}" {% if protocol.meeting == meeting %}selected{% endif %}>{{ meeting.date|date("d/m/Y") }} - {{ meeting.subject }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button type="submit" class='btn btn-primary' id='button-save-and-wait-revisions'>{% trans %}Save and wait for comments{% endtrans %}</button>
                    <button type="button" class='btn btn-primary' id='button-save-and-send-to-meeting' {% if protocol.opinionRequired > total_final_revisions %}disabled{% endif %}>{% trans %}Save and send to meeting{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Select Reviewer -->
    <div class="modal fade" id="modal-select-members-of-commitee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width: 60%;">
            <form class='form' method="POST">
                <input type="hidden" name="type-of-members" value="members-of-committee">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Select Members of Committee{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="live-search">
                            <fieldset>
                                <label for="filter-name-adhoc">{% trans %}Filter by{% endtrans %}:</label>
                                <select class='selectpicker select-filter' id="select-filter-committee" name="select-filter" data-member="committee" >
                                    <option value="name">{% trans %}Name{% endtrans %}</option>
                                    <option value="practice-area">{% trans %}Practice Area{% endtrans %}</option>
                                    <option value="email">{% trans %}Email{% endtrans %}</option>
                                </select>
                                <input type="text" class="form-control text-input filter-field" id="filter-field-committee" data-member="committee" value="" />
                            </fieldset>
                        </div>
                        <hr>
                        <table id="list-committee" class='table table-hover table-condensed'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th width="30%">{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Institution{% endtrans %}</th>
                                    <th>{% trans %}Practice Area{% endtrans %}</th>
                                    <th>{% trans %}Other Practice Area{% endtrans %}</th>
                                    <th>{% trans %}E-mail{% endtrans %}</th>
                                    <th>{% trans %}Country{% endtrans %}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for member in users %}
                                    {% if role_member_of_committee in member.proethos2Roles and member not in protocol.adhocRevisionUsers and member not in protocol.committeeRevisionUsers %}
                                        <tr class="filter">
                                            <td><input type='checkbox' name="select-members-of-committee[]" value="{{ member.id }}"></td>
                                            <td class="filter-name">{{ member.name }}</td>
                                            <td>{{ member.institution }}</td>
                                            <td class="filter-practice-area">{{ member.specialty.name }}</td>
                                            <td>{{ member.otherSpecialty }}</td>
                                            <td class="filter-email"><a href='{{ member.email }}'>{{ member.email }}</a></td>
                                            <td>{{ member.country }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Select Reviewer -->
    <div class="modal fade" id="modal-select-members-ad-hoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width: 66%;">
            <form class='form' method="POST">
                <input type="hidden" name="type-of-members" value="members-ad-hoc">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Select Members Ad-Hoc{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="live-search">
                            <fieldset>
                                <label for="filter-name-adhoc">{% trans %}Filter by{% endtrans %}:</label>
                                <select class='selectpicker select-filter' id="select-filter-adhoc" name="select-filter" data-member="adhoc">
                                    <option value="name">{% trans %}Name{% endtrans %}</option>
                                    <option value="practice-area">{% trans %}Practice Area{% endtrans %}</option>
                                    <option value="email">{% trans %}Email{% endtrans %}</option>
                                </select>
                                <input type="text" class="form-control text-input filter-field" id="filter-field-adhoc" data-member="adhoc" value="" />
                            </fieldset>
                        </div>
                        <hr>
                        <table id="list-adhoc" class='table table-hover table-condensed'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th width="30%">{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Institution{% endtrans %}</th>
                                    <th>{% trans %}Practice Area{% endtrans %}</th>
                                    <th>{% trans %}Other Practice Area{% endtrans %}</th>
                                    <th>{% trans %}Rating{% endtrans %}</th>
                                    <th>{% trans %}E-mail{% endtrans %}</th>
                                    <th>{% trans %}Country{% endtrans %}</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for member in users %}
                                    {% if role_member_ad_hoc in member.proethos2Roles and member not in protocol.committeeRevisionUsers and member not in protocol.adhocRevisionUsers %}
                                        <tr class="filter">
                                            <td><input type='checkbox' name="select-members-ad-hoc[]" value="{{ member.id }}"></td>
                                            <td class="filter-name">{{ member.name }}</td>
                                            <td>{{ member.institution }}</td>
                                            <td class="filter-practice-area">{{ member.specialty.name }}</td>
                                            <td>{{ member.otherSpecialty }}</td>
                                            <td>{% if member.average %}{{ member.average|number_format(2) }}{% endif %}</td>
                                            <td class="filter-email"><a href='{{ member.email }}'>{{ member.email }}</a></td>
                                            <td>{{ member.country }}</td>
                                            <td>
                                                <a href='{{ path("adhoc_revision_history", {user_id: member.id}) }}' data-toggle='modal' data-target='#modal-reviewer-history' class='btn btn-default btn-xs'><i class='glyphicon glyphicon-eye-open'></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Visualizar Parecer do Reviewer -->
    <div class="modal fade" id="modal-parecer-reviewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Modal Remove Reviewer -->
    <div class="modal fade" id="modal-remove-revisor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form class='form' method="POST" >
                <input type="hidden" name="remove-member" value="">
                <input type="hidden" name="member-type" value="">
                <input type="hidden" name="member-id" value="">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Are you sure that you want to remove this member?{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Are you sure you want to remove this reviewer?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Remove{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Bulk Remove Reviewer -->
    <div class="modal fade" id="modal-bulk-remove-revisor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form class='form' method="POST" >
                <input type="hidden" name="bulk-remove-members" value="">
                <input type="hidden" name="member-type" value="">
                <input type="hidden" name="member-ids" value="">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Are you sure that you want to remove these members?{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Are you sure you want to remove these reviewers?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Remove{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal confirm if that not revisions -->
    <div class="modal fade" id="modal-confirm-submit-without-revisions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Are you sure you want to continue?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure that you want to go to the next step without any revisions?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-danger" id="button-confirm-submit-without-revisions">{% trans %}go on{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirm if that send alert message -->
    <div class="modal fade" id="modal-confirm-send-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-alert="">
        <div class="modal-dialog modal-lg" role="document">

            <input type="hidden" name="send-alert" id='hidden-send-alert' value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Are you sure you want to continue?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure that you want to send an alert message to this reviewer?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-success" id="button-confirm-send-alert">{% trans %}go on{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Novo Anexo -->
    <div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-attachment' enctype="multipart/form-data">
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 10*1024*1024 }}" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group required">
                            <label for="select-new-attachment-type">{% trans %}Type{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 97} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker' data-live-search="true" name='new-attachment-type' id='select-new-attachment-type' required>
                                <option>-</option>
                                {% for type in upload_types %}
                                    {% if type.slug in ['format', 'retrospective', 'endogeny', 'citation', 'others'] %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="input-new-attachment-file">{% trans %}File{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 98} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-attachment-file' id='input-new-attachment-file' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment'>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal display reject reason -->
    <div class="modal fade" id="modal-reject-reason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-alert="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Parecer do Reviewer{% endtrans %}: <span class="reject-label">{% trans %}Rejeitado{% endtrans %}</span></h4>
                </div>
                <div class="modal-body">
                    <p><b>{% trans %}Motivo{% endtrans %}</b>: <span id="text-reject-reason"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Visualizar Histórico do Reviewer -->
    <div class="modal fade" id="modal-reviewer-history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){

            var rowCount = $('#table-files tr').length;

            if (rowCount >= 6) {
                $("#attachment-button").attr("disabled", true);

                $("#attachment-button").on("click", function(e){
                    e.preventDefault();
                    e.stopPropagation();
                });
            }

            $("#table-files").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });

            $('#modal-delete-attachment').on('hidden.bs.modal', function(){
                $("#hidden-delete-attachment").val("");
            });

            // set action
            $('#form-action button').on('keypress click', function(e){
                // e.preventDefault();

                var action = $(this).attr('id');
                $('#input-send-to').val(action);
            });

            // binding revision id to remove member form
            $("a[id^=remove-committee-revisor-]").on('keypress click', function(e){
                var member_id = $(this).data('member');
                var revision_id = $(this).attr('id');
                revision_id = revision_id.replace("remove-committee-revisor-", "");

                $("input[name=remove-member]").val(revision_id);
                $("input[name=member-type]").val("committee");
                $("input[name=member-id]").val(member_id);
            });

            // bulk remove committee members
            $("#bulk-remove-committee-revisor").on('keypress click', function(e){
                var members = [];
                var member_ids = [];
                var member_id;
                var member_type = $(this).data('member');

                $("#member-committee-list input:checkbox:checked").each(function(){
                    members.push($(this).val());
                    member_id = $(this).attr('name');
                    member_id = member_id.replace("revision-", "");
                    member_ids.push(member_id);
                });

                $("input[name=bulk-remove-members]").val(members);
                $("input[name=member-type]").val(member_type);
                $("input[name=member-ids]").val(member_ids);
            });

            // binding revision id to remove member form
            $("a[id^=remove-adhoc-revisor-]").on('keypress click', function(e){
                var revision_id = $(this).attr('id');
                revision_id = revision_id.replace("remove-adhoc-revisor-", "");

                $("input[name=remove-member]").val(revision_id);
                $("input[name=member-type]").val("adhoc");
            });

            // bulk remove adhoc members
            $("#bulk-remove-adhoc-revisor").on('keypress click', function(e){
                var members = [];
                var member_type = $(this).data('member');

                $("#member-adhoc-list input:checkbox:checked").each(function(){
                    members.push($(this).val());
                });

                $("input[name=bulk-remove-members]").val(members);
                $("input[name=member-type]").val(member_type);
            });


            // binding action to button that goes on
            $('#button-save-and-send-to-meeting').on('keypress click', function(e){
                {% if total_final_revisions == 0 %}
                    $('#modal-confirm-submit-without-revisions').modal('show');
                {% else %}
                    $('#form-action').submit();
                {% endif %}
            });

            $('#button-confirm-submit-without-revisions').on('keypress click', function(e){
                $('#form-action').submit();
            });

            // send alert
            $('a.send-alert').on('keypress click', function(e){
                e.preventDefault();
                
                var href = $(this).attr('href');
                $('#hidden-send-alert').val(href);
                $('#modal-confirm-send-alert').modal('show');

                return false;
            });

            // confirm send alert
            $('#button-confirm-send-alert').on('keypress click', function(e){
                var href = $('#hidden-send-alert').val();
                window.location = href;
            });

            $("a.reject-reason").on("click", function(e){
                var data = $(this).data('reason');
                $("#text-reject-reason").text(data);
            });

            $('.select-filter').on("change", function(e){
                var member = $(this).data('member');
                $("input#filter-field-"+member).keyup();
            });

            $("input.filter-field").keyup(function(){
                // Retrieve the input field text and reset the count to zero
                var filter = $(this).val(), member = $(this).data('member'), field = $('#select-filter-'+member).val(), count = 0;
         
                // Loop through the comment list
                $("table#list-"+member+" tbody tr.filter").each(function(){
         
                    // If the list item does not contain the text phrase fade it out
                    if ($(this).find('td.filter-'+field).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).hide();

                    // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).show();
                        // $(this).next().show();
                        count++;
                    }
                });
         
                // Update the count
                var numberItems = count;
                // $("#filter-count").text("Total: "+count);
            });

        });
    </script>
{% endblock %}
