<div class='block meta'>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-header titulo">
                {{ protocol.mainSubmission.title }}
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <div class='label'>{% trans %}Identification{% endtrans %}</div>
            <h3>{{ '%06d'|format(protocol.id) }}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Journal Code{% endtrans %}</div>
            <h3>{{ protocol.code }}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Journal Type{% endtrans %}</div>
            <h3>{% trans %}Journal{% endtrans %}</h3>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <div class='label'>{% trans %}Institution{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.owner.institution }}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Country{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.owner.country }}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Status{% endtrans %}</div>
            <h3>{{ protocol.statusLabel|trans }}</h3>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <div class='label'>{% trans %}Accepted in{% endtrans %}</div>
            <h3>{% if protocol.dateInformed %}{{ protocol.dateInformed|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Updated in{% endtrans %}</div>
            <h3>{% if protocol.updatedIn %}{{ protocol.updatedIn|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Revised in{% endtrans %}</div>
            <h3>{% if protocol.revisedIn %}{{ protocol.revisedIn|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <div class='label'>{% trans %}Decision in{% endtrans %}</div>
            <h3>{% if protocol.decisionIn %}{{ protocol.decisionIn|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Finished in{% endtrans %}</div>
            <h3>{% if protocol.dateInformed %}{{ protocol.dateInformed|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-4'>
            <div class='label'>{% trans %}Recruiting{% endtrans %}</div>
            <h3>{% if protocol.mainSubmission.recruitmentInitDate %}{{ protocol.mainSubmission.recruitmentInitDate|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>
    </div>

</div>
