{% extends "::base.html.twig" %}

{% block title %}{% trans %}Journals{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Your Journals{% endtrans %}
                </h1>
            </div>
        </div>

        <div class='block'>
            <form class="form-group" id='form-filter'>
                <div class='row'>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="input-filter-q">{% trans %}Find journals{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 50} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='text' class='form-control' id='input-filter-q' name='q' value="{{ app.request.get('q') }}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="select-filter-status">{% trans %}Status{% endtrans %}:</label>
                            <a href="{{ path("crud_admin_help_show", {help_id: 51} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class='form-control selectpicker submit-on-change' id="select-filter-status" name="status" data-live-search="true">
                                <option value="" {% if app.request.get('status') == "" %}selected{% endif %}>{% trans %}All{% endtrans %}</option>
                                <option value="D" {% if app.request.get('status') == "D" %}selected{% endif %}>{% trans %}Draft{% endtrans %}</option>
                                <option value="S" {% if app.request.get('status') == "S" %}selected{% endif %}>{% trans %}Submitted{% endtrans %}</option>
                                <option value="R" {% if app.request.get('status') == "R" %}selected{% endif %}>{% trans %}Rejected{% endtrans %}</option>
                                <option value="I" {% if app.request.get('status') == "I" %}selected{% endif %}>{% trans %}Waiting for initial evaluation{% endtrans %}</option>
                                <option value="E" {% if app.request.get('status') == "E" %}selected{% endif %}>{% trans %}Waiting for Committee{% endtrans %}</option>
                                <option value="H" {% if app.request.get('status') == "H" %}selected{% endif %}>{% trans %}Scheduled{% endtrans %}</option>
                                <option value="A" {% if app.request.get('status') == "A" %}selected{% endif %}>{% trans %}Approved{% endtrans %}</option>
                                <option value="N" {% if app.request.get('status') == "N" %}selected{% endif %}>{% trans %}Not approved{% endtrans %}</option>
                                <option value="C" {% if app.request.get('status') == "C" %}selected{% endif %}>{% trans %}Approved with restrictions{% endtrans %}</option>
                                <option value="V" {% if app.request.get('status') == "V" %}selected{% endif %}>{% trans %}Waiting for final evaluation{% endtrans %}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 search-button">
                        <div class="form-group">
                            <button class='btn btn-primary' type='submit'>{% trans %}Search{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        <thead>
                            <tr>
                                <th width="10%">{% trans %}ID{% endtrans %}</th>
                                <th width="50%">{% trans %}Title{% endtrans %}</th>
                                <th>{% trans %}Type{% endtrans %}</th>
                                <th>{% trans %}Last Update{% endtrans %}</th>
                                <th>{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for protocol in protocols if protocols %}
                                <tr>
                                    <th>{% if protocol.code %}{{ protocol.code }}{% else %}-{% endif %}</th>
                                    <td>{{ protocol.mainSubmission.title }}</td>
                                    <td><span class='label label-primary'>{% trans %}Journal{% endtrans %}</span></td>
                                    <td>{{ protocol.updatedIn|date("d/m/Y") }}</td>
                                    <td><span class='label {% if protocol.status == 'R' %}label-danger{% else %}label-default{% endif %}'>{{ protocol.statusLabel|trans }}</span></td>
                                    <td>
                                        <a href='{{ path("protocol_show_protocol", {protocol_id: protocol.id}) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}See journal{% endtrans %}"><i class='glyphicon glyphicon-eye-open'></i></a>
                                        {% if protocol.status in ['C'] %}
                                            <a href='{{ path("protocol_recommendations", {protocol_id: protocol.id} ) }}' class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}Send recommendations{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>
                                        {% else %}
                                            <a href='{{ path("submission_new_first_created_protocol_step", {submission_id: protocol.mainSubmission.id}) }}' class='btn btn-default btn-xs {% if protocol.status not in ["D"] %}disabled{% endif %}' data-toggle="tooltip" data-placement="top" title="{% trans %}Edit submission{% endtrans %}"><i class='glyphicon glyphicon-pencil'></i></a>
                                        {% endif %}
                                        {% if protocol.status in ['D'] %}
                                            <span data-toggle="tooltip" data-placement="top" title="{% trans %}Delete this journal{% endtrans %}"><a href='{{ path("protocol_delete", {protocol_id: protocol.id} ) }}' class='btn btn-danger btn-xs' data-toggle='modal' data-target='#modalBaseAjax'><i class='glyphicon glyphicon-trash'></i></a></span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8"><i>{% trans %}You haven't submitted any protocols yet.{% endtrans %}</i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){});
    </script>
{% endblock %}
